@use "../../../styles/helpers" as *;

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: rem(8);
  font-size: 1rem;
  padding: rem(7) rem(48) rem(7) rem(10);
  height: rem(40);

  &:hover {
    border-color: #646cff;
  }

  &:focus {
    outline: none;
    border-color: #646cff;
  }
}

.searchButton {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  width: rem(30);
  height: rem(30);
  padding: rem(20);

  &:hover svg {
    transform: scale(1.1);
    & path {
      stroke: #646cff; // меняем цвет при наведении
    }
  }


  svg {
    position: absolute;
    top: 50%;
    translate: -50% -50%;
    width: rem(26); // размер иконки внутри кнопки
    height: rem(26);
    transition: all 0.15s ease;

    path {
      transition: stroke 0.15s ease;
    }
  }

}