@use "@helpers" as *;

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: rem(8);
  font-size: 1rem;
  padding: rem(7) rem(48) rem(7) rem(10);
  height: rem(40);

  &:hover {
    border-color: #646cff;
  }

  &:focus {
    outline: none;
    border-color: #646cff;
  }
}

.cancelSearchButton {
    position: absolute;
    right: 0;
    width: rem(20);
    height: rem(20);
    padding: rem(20);
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(20);
      height: rem(2);
      background-color: #979797;
      transition: all 0.2s;

    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    @include hover {
      &::before,
      &::after {
        background-color: #000;
      }
    }
}