@use "@helpers" as *;

.toDoList {
  background-color: #fff;
  min-width: rem(400);
  min-height: rem(400);
  border: 1px solid #D9D9D9;
  border-radius: rem(20);
  letter-spacing: 0;
  box-shadow: rem(2) rem(2) rem(15) rgba(0, 0, 0, 0.2);

  padding: rem(24);
  display: flex;
  flex-direction: column;
  row-gap: rem(20);
}

.toDoListWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}