@use "../../../../styles/helpers" as *;

.tasksHeaderInner {
  display: flex;
  justify-content: space-between;
}

.tasksHeader {
  font-size: rem(16);
}

.deleteButton {
  background-color: transparent;
  border: none;
  font-size: rem(16);
  color: #000;
  font-weight: 600;
  transition: all 0.2s ease;

  &:hover {
    color: #646cff;
    transform: scale(1.02);
  }
}